@import "@89netram/snygg/src/vars";
@import "@89netram/snygg/src/colors/colorStyles";
@import "@89netram/snygg/src/global";
@import "@89netram/snygg/src/text-field/text-field";
@import "@89netram/snygg/src/range/range";
@import "@89netram/snygg/src/toggle/toggle";
@import "@89netram/snygg/src/hr/hr";
@import "@89netram/snygg/src/button/button";

app {
	width: 100%;
	min-height: 100vh;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	header {
		margin-bottom: $distance;
		text-align: center;
		z-index: 10;

		h1 {
			margin-bottom: 0px;
		}
		p {
			margin-top: 0px;
		}
	}

	main {
		display: flex;
		flex-direction: column;
		align-items: center;

		aside {
			padding: $distance/2 $distance;
			background-color: var(--level1-color);
			box-shadow: 0px 0px $distance/2 var(--shadow);
			border-radius: $rounding;
			z-index: 10;

			button {
				width: 100%;
				margin-bottom: $distance/2;
			}
		}
		canvas {
			position: absolute;
			top: 0px;
			left: 0px;
			right: 0px;
			bottom: 0px;
		}
		.canvas-replacement {
			width: 100vw;
			height: 100vw;
			max-width: 500px;
			max-height: 500px;
			margin-left: $distance * 2;

			& + p {
				@media (min-width: $bigScreen) {
					position: absolute;
					left: 50%;
					bottom: 0px;
					transform: translate(-50%, 0px);
				}

				a {
					color: var(--color);
					text-decoration: none;
	
					&:hover {
						color: var(--accent);
					}
				}
	
				span {
					margin: 0px 1ch;
				}
			}
		}
	}
}

label > .toggle {
	margin-left: $distance / 2;
}

.separate {
	display: flex;
	justify-content: space-between;
}

.clickable {
	cursor: pointer;
}

.code {
	padding: $distance * 4 0px;
	display: flex;
	justify-content: center;
	font-size: 125%;
	background-color: var(--level1-color);
	box-shadow: 0px 0px $distance/2 var(--shadow);
	border-radius: $rounding;
	position: relative;
	z-index: 10;

	&[hidden] {
		display: none;
	}

	button {
		position: absolute;
		top: $distance;
		right: $distance;

		border: none;
		background: none;
		font-size: 100%;
		cursor: pointer;
		outline: none;
		transition: transform 0.1s;

		&:active {
			transform: scale(0.9);
			transition: transform 0.05s;
		}
	}

	.line {
		display: block;
		height: 1.1em;

		&:not(:first-of-type) {
			padding-left: 4ch;
		}

		> span {
			&:not(.no-space) {
				padding-right: 1ch;
			}
			&.key {
				color: #c586c0;
			}
			&.var {
				color: #9cdcfe;
			}
			&.num {
				color: #b5cea8;
			}
			&.fun {
				color: #dcdcaa;
			}
			&.comment {
				color: #6a9955;
			}
		}
	}
}

@media (min-width: $bigScreen) {
	app {
		main {
			flex-direction: row;
			align-items: flex-start;
		}
	}
}